
$black:#000;
$Strong-green:#00932a ;
$Muted-green:#cce9d5 ;

$font-family-courgette:  "Courgette", serif;
$font-family-patrick:   "Patrick Hand", serif;

$box-shadow:                  0 .5rem 1rem rgba($black, .15);
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow-lg:               0 16px 64px rgba($black, .175);
$box-shadow-hover:               0 16px 64px $Muted-green;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');