<div class="container-flu">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 ">
            <div class="row">
                @for (meal of meals; track $index) {
                    <div class="col-md-6 col-lg-3">
                        <div class="car-d">
                            <div class="imag">
                                <img [src]="meal.strMealThumb" alt="">
                            </div>
                            <h3>{{meal.strMeal.split(" ").splice(0,2).join(" ") }}</h3>
    
                            <div class="btn">
                                view recipe
                            </div>
                        </div>
                    </div>
                    }
        </div>
    </div>    
</div>
