/* You can add global styles to this file, and also import other style files */

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  background: #f5f5f5;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #388e3c; 
  border-radius: 8px;
  border: 2px solid #fff; 
}

::-webkit-scrollbar-thumb:hover {
  background: #388e3c; 
}

::-webkit-scrollbar-track {
  background: #e0e0e0; 
  border-radius: 8px;
}

/* دعم Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #388e3c #e0e0e0;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-main, router-outlet {
  flex: 1 0 auto;
  display: block;
}

app-footer {
  flex-shrink: 0;
  display: block;
}